@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Poppins:wght@300&display=swap");
/* Sass Template */
/* Global classes */
* {
  margin: 0;
  padding: 0;
}

.button-blue {
  width: 100%;
  background-color: #0646A2;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  padding: 10px;
  border: none;
  font-family: "Mulish", cursive;
}

.button-admin {
  width: 100%;
  background-color: #0646A2;
  color: #ffffff;
  outline: none;
  box-shadow: none;
  padding: 6px;
  border: none;
  font-family: "Mulish", cursive;
}

@media only screen and (max-width: 600px) {
  .button-admin {
    margin-bottom: 20px;
  }
}
.button-branch {
  width: 100%;
  color: #0646A2;
  outline: none;
  box-shadow: none;
  padding: 6px;
  border: 1px solid #0646A2;
  font-family: "Mulish", cursive;
  background-color: #ffffff;
}

.button-table-pink {
  background-color: #ff903d;
  color: #ffffff;
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 6px 6px;
  font-family: "Mulish", cursive;
  border: none;
  border-radius: 5px;
}

.button-table-green, .Complete, .pending, .cancelled {
  color: #ffffff;
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 8px 8px;
  font-family: "Mulish", cursive;
  border: none;
  border-radius: 5px;
}

.Complete {
  background-color: #4ee053;
}

.pending {
  background-color: #ff903d;
}

.cancelled {
  background-color: #D60026;
}

.button-table {
  background-color: #f9366e;
  color: #ffffff;
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 6px 6px;
  font-family: "Mulish", cursive;
  border: none;
  border-radius: 5px;
}

.button-dash {
  background-color: #83A5D6;
  color: #ffffff;
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 4px 4px;
  font-family: "Mulish", cursive;
  border: none;
  border-radius: 5px;
}

.button-pass {
  background-color: #0646A2;
  color: #ffffff;
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 8px 12px;
  font-family: "Mulish", cursive;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  margin-top: 35px;
}

.button-update {
  background-color: #0646A2;
  color: #ffffff;
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 15px 15px;
  font-family: "Mulish", cursive;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
}

@media only screen and (max-width: 300px) {
  .button-update {
    margin-bottom: 30px;
  }
}
.button-otp {
  background-color: #7F7F7F;
  color: #ffffff;
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 8px 12px;
  font-family: "Mulish", cursive;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  margin-top: 35px;
}

.button-otp:hover {
  background-color: #0646A2;
}

.button-otp-resend {
  color: #0646A2;
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 8px 12px;
  font-family: "Mulish", cursive;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  margin-top: 35px;
}

.button-otp-resend:hover {
  background-color: #0646A2;
  color: #ffffff;
}

.button-change-pass {
  background-color: #0646A2;
  color: #ffffff;
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 15px 15px;
  font-family: "Mulish", cursive;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
}

.link {
  text-decoration: none;
  color: #0646A2;
}

.link-space {
  text-decoration: none;
}

input, input:focus {
  outline: none !important;
  box-shadow: none !important;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #F4F5F6;
  width: 100%;
}

select, select:focus {
  outline: none !important;
  box-shadow: none !important;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #F4F5F6;
  width: 100%;
}

.hide-form {
  display: none;
}

.text-color {
  color: #0646A2;
}

.table-text-color {
  color: #ffffff;
}

.bg-color {
  background-color: #0646A2;
}

.jumbo-bg-color {
  background-color: #ffffff;
  border-radius: 15px;
}

.image-logo {
  width: 100px;
}

.card-width {
  max-width: 533px;
  border-radius: 10px;
}

@media only screen and (max-width: 300px) {
  .card-width {
    width: 100%;
  }
}
.margin-center {
  margin: 2% auto;
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.login-font-color {
  color: black;
}

#sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 230px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: #ffffff;
  overflow-y: auto;
  transition: width 500ms;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-menu {
  padding: 2rem;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar a {
  color: #0646A2;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
}

.form-line a {
  text-decoration: none;
  color: #0646A2;
  font-weight: bold;
}

.box {
  background-color: #002033;
  border-radius: 8px;
}

.card-color {
  background-color: #002033;
}

.card-action {
  text-align: right;
}

.hide-me {
  display: none;
}

.sidebar a span:last-child {
  padding-left: 0.2rem;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span:last-child,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
  left: 60px;
}

li {
  list-style: none;
}

.main-content {
  position: relative;
  margin-left: 240px;
  background: #F4F5F6;
  padding: 20px;
  transition: margin-left 500ms;
}

header {
  position: relative;
  left: 18px;
  top: 0;
  z-index: 100;
  width: calc(100% - 50px);
  background: #ffffff;
  height: 60px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  transition: left 500ms;
}

.search-wrapper2 {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

main {
  margin-top: 10px;
  min-height: 90vh;
  padding: 1rem;
}

.dash-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
}

.card-single {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-body h5 {
  font-weight: 900;
}

.card-body h6 {
  font-weight: 600;
}

.table .col-destination {
  width: 10px;
}

.t2, .t3, .t4 {
  display: none;
}

.nav-link {
  cursor: pointer;
}

hr {
  border: 1px solid #cfcccc32;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 60px;
  }

  .sidebar .sidebar-header h3 span,
.sidebar li span:last-child {
    display: none;
  }

  .sidebar .sidebar-header,
.sidebar li {
    display: flex;
    justify-content: center;
  }

  .main-content {
    margin-left: 60px;
  }
}
@media only screen and (max-width: 1200px) and (max-width: 300px) {
  .main-content {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .main-content header {
    left: 60px;
  }
}
@media only screen and (max-width: 800px) {
  .dash-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-single {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .dash-cards {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 411px) {
  .dash-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  header {
    display: none;
  }
}
/* typography classes */
.font-mulish {
  font-family: "Mulish", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-900 {
  font-weight: 900;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 400;
}

.text-color-light {
  color: #F4F5F6;
}

/*# sourceMappingURL=style.css.map */
