/* Global classes */


* {
    margin: 0;
    padding: 0;
}

.button-blue {
    width: 100%;
    background-color: $color-primary;
    color: $color-white;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    padding: 10px;
    border: none;
    font-family: $font-mulish;
}

.button-admin {
    width: 100%;
    background-color: $color-primary;
    color: $color-white;
    outline: none;
    box-shadow: none;
    padding: 6px;
    border: none;
    font-family: $font-mulish;
}

@media only screen and (max-width: 600px) {
    .button-admin {
        margin-bottom: 20px;
    }
}

.button-branch {
    width: 100%;
    color: $color-primary;
    outline: none;
    box-shadow: none;
    padding: 6px;
    border: 1px solid $color-primary;
    font-family: $font-mulish;
    background-color: $color-white;
}

.button-table-pink {
    background-color: $color-table-button;
    color: $color-white;
    width: 100%;
    outline: none;
    box-shadow: none;
    padding: 6px 6px;
    font-family: $font-mulish;
    border: none;
    border-radius: 5px;
}

.button-table-green, .Complete, .pending, .cancelled{
    color: $color-white;
    width: 100%;
    outline: none;
    box-shadow: none;
    padding: 8px 8px;
    font-family: $font-mulish;
    border: none;
    border-radius: 5px;
}

.Complete {
    background-color: $color-light-green;
}
.pending {
    background-color: $color-table-button;
}
.cancelled {
    background-color: $color-secondary;
}

.button-table  {
    background-color: $color-pink;
    color: $color-white;
    width: 100%;
    outline: none;
    box-shadow: none;
    padding: 6px 6px;
    font-family: $font-mulish;
    border: none;
    border-radius: 5px;
}

.button-dash {
    background-color: $color-dash;
    color: $color-white;
    width: 100%;
    outline: none;
    box-shadow: none;
    padding: 4px 4px;
    font-family: $font-mulish;
    border: none;
    border-radius: 5px;
}


.button-pass {
    background-color: $color-primary;
    color: $color-white;
    width: 100%;
    outline: none;
    box-shadow: none;
    padding: 8px 12px;
    font-family: $font-mulish;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 35px;
}

.button-update {
    background-color: $color-primary;
    color: $color-white;
    width: 100%;
    outline: none;
    box-shadow: none;
    padding: 15px 15px;
    font-family: $font-mulish;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}

.button-otp {
    background-color: $color-otp;
    color: $color-white;
    width: 100%;
    outline: none;
    box-shadow: none;
    padding: 8px 12px;
    font-family: $font-mulish;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 35px;
}

.button-otp:hover {
    background-color: $color-primary;
}

.button-otp-resend {
    color: $color-primary;
    width: 100%;
    outline: none;
    box-shadow: none;
    padding: 8px 12px;
    font-family: $font-mulish;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 35px;
}

.button-otp-resend:hover {
    background-color: $color-primary;
    color: $color-white;
}

.button-change-pass {
    background-color: $color-primary;
    color: $color-white;
    width: 100%;
    outline: none;
    box-shadow: none;
    padding: 15px 15px;
    font-family: $font-mulish;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}

.link {
    text-decoration: none;
    color: $color-primary;
}

input, input:focus {
    outline: none !important;
    box-shadow: none !important;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: $color-gray;
    width: 100%;
}

select, select:focus {
    outline: none !important;
    box-shadow: none !important;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: $color-gray;
    width: 100%;
}

// .glee {
//     padding: 40px;
//     border-radius: 80px;
//     outline: none !important;
//     box-shadow: none !important;
// }

.hide-form {
    display: none;
}

.text-color {
    color: $color-primary;
}

.table-text-color {
    color: $color-white;
}

.bg-color {
    background-color: $color-primary;
}

.jumbo-bg-color {
    background-color: $color-white;
    border-radius: 15px;
}

.image-logo {
    width: 100px;
}

.card-width {
    max-width: 533px;
    border-radius: 10px;
}

.margin-center {
    margin: 2% auto;
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.login-font-color {
    color: rgba(0, 0, 0, 1);
}

#sidebar-toggle {
    display: none;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: #ffffff;
    overflow-y: auto;
    transition: width 500ms;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}

.sidebar-menu {
    padding: 2rem;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a {
    color: $color-primary;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
}

.form-line a {
    text-decoration: none;
    color: $color-primary;
    font-weight: bold;
}

.box {
    background-color: $color-dark;
    border-radius: 8px;
}

.card-color {
    background-color: $color-dark;
}

.card-action {
    text-align: right;
}

.hide-me {
    display: none;
}


.sidebar a span:last-child {
    padding-left: .2rem;
}

#sidebar-toggle:checked ~ .sidebar {
    width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span:last-child,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li{
    display: flex;
    justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
    left: 60px;
}

li {
    list-style: none;
}

.main-content {
    position: relative;
    margin-left: 240px;
    background: $color-gray;
    padding: 20px;
    transition: margin-left 500ms;
}

header {
    position: relative;
    left: 18px;
    top: 0;
    z-index: 100;
    width: calc(100% - 50px);
    background: $color-white;
    height: 60px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: left 500ms;
}


.search-wrapper2 {
    background-color: $color-white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

main {
    margin-top: 10px;
    min-height: 90vh;
    padding: 1rem;
}

.dash-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
}

.card-single {
    background: $color-white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-body h5 {
    font-weight: 900;
}

.card-body h6 {
    font-weight: 600;
}

.table .col-destination {
    width: 10px;
}



.t2, .t3, .t4 {
    display: none;
}

.nav-link {
    cursor: pointer;
}

hr {
    border: 1px solid #cfcccc32;
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 60px;
    }
    
   .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child {
        display: none;
    }
    
    .sidebar .sidebar-header,
    .sidebar li {
        display: flex;
        justify-content: center;
    }
    
    .main-content {
        margin-left: 60px;
    }
    
    .main-content header {
        left: 60px;
    }
}

@media only screen and (max-width: 800px) {
    .dash-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-single {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .dash-cards {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 411px) {

    .dash-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    header {
        display: none;
    }
}



