$font-mulish:"Mulish", cursive;
$font-poppins: "Poppins" cursive;
$color-primary: #0646A2;
$color-secondary: #D60026;
$color-grey: #9FA2B4;
$color-gray: #F4F5F6;
$color-white: #ffffff;
$color-green: #50c455;
$color-blue: #6b57eb;
$color-pink: #f9366e;
$color-light-green: #4ee053;
$color-table-button: #ff903d;
$color-dash: #83A5D6;
